<div class="product-detail">
  <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
  <div class="product-details">
    <h2>{{ product.name }}</h2>
    <p>Price: {{ product.price }}<b>$</b></p>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <div class="quantity-selector">
      <label for="quantity">Quantity:</label>
      <select id="numberSelect" [(ngModel)]="selectedQuantity" (ngModelChange)="selectedQuantityChange($event)" number>
        <option *ngFor="let quantity of quantities" [value]="quantity">{{ quantity }}</option>
      </select>
    </div>
    <button (click)="addToCart(product, selectedQuantity)" class="add-to-cart-button">Add to Cart</button>
    <a (click)="goToProductList()" class="back-link">← Back to Product List</a>
  </div>
</div>
